
$primary:#0f0f0f;
$secondary:#e3e3e3;
$bef:25px;
html{
    scroll-behavior: smooth !important;
}
.btn-contact{
    transition: 250ms ease-in-out;
    background-color: gold;
    color: $primary;
    font-weight: bold;
    &:active{
        transform: scale(.85);
    }
}

.scrolling-text {
    color: $secondary; /* équivalent de text-secondary */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    // animation: marquee 5s linear infinite;
    // animation-duration: 10000ms;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
section{
    margin:  4rem auto;
    width: 90%;
}
.projet-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); /* Colonnes adaptatives */
    gap: 1rem;
    grid-auto-rows: 20rem;
    // overflow: hidden;
    padding: 1rem;
    .item{
        // box-shadow: 0 0 .25rem $secondary;
        border-radius: 1rem;
        transition: 250ms ease-in-out;
        z-index: 2 !important;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        img{
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}
.container_avis{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 15rem;
    gap: 1rem;
    padding: 1rem;
    .avis_item{
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 .2rem $secondary;
    }
}

.marquee-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .card {
    border-radius: 0.75rem;
    border: 1px solid $secondary;
    padding: 2rem;
    height: 100px !important;
    width: 250px !important;
    cursor: pointer;
    color: $secondary;

  }

  .marquee-gradient {
    position: absolute;
    top: 0;
    height: 100%;
    width: 33%;

  }
.timeline{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 20vh;
    width: 75%;
    padding: 0; 
    &::before{
        content: "";
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: $secondary;
        border-radius: 100%;
        z-index: 0 !important;
    }
    &::after{
        z-index: 0 !important;
        content: "";
        position: absolute;
        height: 90%;
        width: 5px;
        background-color: $secondary;
        top: 2rem;
        left: calc($bef / 2.5 );
    }
}
.confiance{
    z-index: 99 !important;
}
.step-container{
    z-index: 1 !important;
}
.social-media{
    a{
        svg{
            margin: auto .5rem;
        }
    }
}
.social-container{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: $secondary;
        top: 4rem;
    }
}
.bg{
    background-image: url("/assets/img/Cola.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: #0f0f0f8c;
    }
}

@media screen and (max-width:1023px) {
    .projet-content{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
        grid-auto-rows: 15rem !important;
        // overflow: hidden;
        padding: 1rem;
    }
    .container_avis{
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
        grid-auto-rows: 20rem;
        gap: 1rem;
        padding: .5rem !important;
        .avis_item{
            padding: .5rem !important;
        }
    }
    .menue{
        top: 0 ;
        right: -100%;
        position: absolute;
        z-index: 99 !important;
        transition: 250ms ease-in-out;
    }
    .hidden-menue{
        right: 0;
        transition: 250ms ease-in-out;

    }
    button{
        z-index: 1000 !important;

    }
    .btn-menue{
        position: relative;
        transition: 200ms ease-in-out;
        &:active{
            transform: scale(1.2);
        }
    }
    .timeline{
        width: 100%;
        height: max-content !important;
    }
}